
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spin {
animation: spin 5s linear 0s infinite;
}